<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商城-注册</title>
</head>
<body>
<div class="form center">
  <div class="login">
    <div class="login_center">
      <div class="login_top">
        <div class="left fl">会员注册</div>
        <div class="right fr">您已有账号？<a th:href="@{/login}">请登录</a></div>
        <div class="clear"></div>
        <div class="under-line center"></div>
      </div>
      <form id="registerForm">
        <div class="login_main center">
          <div class="login-info">手机号:&nbsp;
            <input class="login-info-input" name="loginName" placeholder="请输入你的手机号"/>
          </div>
          <div class="login-info">密码:&nbsp;
            <input class="login-info-input"  name="password" placeholder="请输入你的密码"/>
          </div>
          <div class="login-info">验证码:&nbsp;
            <input class="login-info-input verify-code" name="verifyCode" placeholder="请输入验证码"/>
            <img alt="单击图片刷新" th:src="@{/common/captcha}"
                 th:onclick="this.src=_ctx + 'common/captcha?d='">
          </div>
      </form>
    </div>
  </div>
</div>
</body>

<script th:inline="javascript">var _ctx = [[@{/}]];</script>
</html>