<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="mall/header::head-fragment"></th:block>
</head>
<body>
<slot id="content">
  <nav th:replace="mall/header::nav-fragment"></nav>
  <div id="seckill">
    <h2>秒杀专区</h2>
    <ul>
      <th:block th:unless="${#lists.isEmpty(seckillList)}">
        <th:block th:each="seckill : ${seckillList}">
          <li>
            <a th:href="@{'/seckill/detail/'+${seckill.seckillId}}">
              <img th:src="@{${seckill.goodsCoverImg}}" th:alt="${seckill.goodsName}">
              <div class="seckillPrice">
                ￥<i th:text="${seckill.seckillPrice}"></i>
              </div>
              <div class="originPrice">
                ￥<del th:text="${seckill.originalPrice}"></del>
              </div>
              <div class="seckillButton">
                <button>立即抢购</button>
              </div>
            </a>
          </li>
        </th:block>
      </th:block>
    </ul>
  </div>
</slot>
</body>
</html>