<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="mall/header::head-fragment"></th:block>
</head>
<body>
<slot id="content">
  <nav th:replace="mall/header::nav-fragment"></nav>
  <div id="seckill">
    <h2>秒杀专区</h2>
    <ul>
      <th:block th:unless="${#lists.isEmpty(seckillList)}">
        <th:block th:each="seckill : ${seckillList}">
          <li>
            <img th:src="@{${seckill.goodsCoverImg}}" th:alt="${seckill.goodsName}">
          </li>
        </th:block>
      </th:block>
    </ul>
  </div>
</slot>
</body>
</html>